<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">
    <h3 class="content-title">Add New Customer</h3>

    <div class="mastersform-sec">
        <form [formGroup]="publicVariable.dataForm" >
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngIf="isAccount">
                    <div class="form-group">
                        <label>Customer No. </label>
                        <input type="hidden" formControlName="customerId" />
                        <input type="text" class="form-control" placeholder="Customer No" formControlName="customerNo"
                            (input)="onInputChange($event)" />
                        <div *ngIf="shouldShowError('customerNo', 'maxlength')" class="text-danger">
                            Customer No must be less than 20 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Name <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                        <div *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">
                            Name must be less than 100 characters.
                        </div>
                        <div *ngIf="shouldShowError('name', 'alphanumericWithSpaces')" class="text-danger">
                            Name must be alphanumeric.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Name 2 </label>
                        <input type="text" class="form-control" placeholder="Name 2" formControlName="name2" />
                        <div *ngIf="shouldShowError('name2', 'maxlength')" class="text-danger">
                            Name2 must be less than 50 characters.
                        </div>
                        <div *ngIf="shouldShowError('name2', 'alphanumericWithSpaces')" class="text-danger">
                            Name2 must be alphanumeric with spaces.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Address <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="address" />
                        <div *ngIf="shouldShowError('address', 'required')" class="text-danger">
                            Address is required.
                        </div>
                        <div *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">
                            Address must be less than 100 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Address 2 </label>
                        <input type="text" class="form-control" placeholder="Address 2" formControlName="address2" />
                        <div *ngIf="shouldShowError('address2', 'maxlength')" class="text-danger">
                            Address 2 must be less than 50 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Country/Region Code <sup class="text-danger">*</sup></label>
                        <ng-select [items]="publicVariable.countryList" bindLabel="countryName" bindValue="countryId"
                            placeholder="Select" formControlName="countryCode" >
                        </ng-select>
                        <div *ngIf="shouldShowError('countryCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>State <sup class="text-danger">*</sup></label>
                        <ng-select [items]="publicVariable.stateList" bindLabel="stateName" bindValue="stateId"
                            placeholder="Select " formControlName="stateCode" >
                        </ng-select>
                        <!-- <input type="text" class="form-control" placeholder="State Code" formControlName="stateCode" /> -->

                        <div *ngIf="shouldShowError('stateCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>City <sup class="text-danger">*</sup></label>
                        <!-- <ng-select [items]="publicVariable.cityList" bindLabel="cityName" bindValue="cityId"
                            placeholder="Select" formControlName="city">
                        </ng-select> -->
                        <input type="text" class="form-control" placeholder="City Code" formControlName="cityCode" />

                        <div *ngIf="shouldShowError('cityCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Post Code <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Post Code" formControlName="postCode"
                            (input)="onInputChange($event)" />
                        <div *ngIf="shouldShowError('postCode', 'required')" class="text-danger">
                            Post Code is required.
                        </div>
                        <div *ngIf="shouldShowError('postCode', 'pattern')" class="text-danger">
                            Please enter a valid 6-digit Post Code.
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>E-Mail <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="email" placeholder="email" />
                        <div *ngIf="shouldShowError('email', 'required')" class="text-danger">
                            Email is required.
                        </div>
                        <div *ngIf="shouldShowError('email', 'email')" class="text-danger">
                            Please enter a valid email address.
                        </div>

                        <div *ngIf="shouldShowError('email', 'maxlength')" class="text-danger">
                            Email must be less than 80 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Primary Contact No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="PrimaryContactNo"
                            placeholder="Primary Contact No" (input)="onInputChange($event)" />
                        <div *ngIf="shouldShowError('PrimaryContactNo', 'required')" class="text-danger">
                            Primary Contact No is required.
                        </div>
                        <div *ngIf="shouldShowError('PrimaryContactNo', 'pattern')" class="text-danger">
                            Please enter a valid phone number.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Contact Person <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="contact" placeholder="Contact" />

                        <div *ngIf="shouldShowError('contact', 'alphanumericWithSpaces')" class="text-danger">
                            Contact must be alphanumeric with spaces.
                        </div>

                        <div *ngIf="shouldShowError('contact', 'maxlength')" class="text-danger">
                            Contact must be less than 100 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>GST Customer Type <sup class="text-danger">*</sup></label>

                        <ng-select [items]="publicVariable.customerTypeList" bindLabel="gstTypeName"
                            bindValue="gstTypeId" placeholder="Select" formControlName="GSTCustomerType">
                        </ng-select>
                        <div *ngIf="shouldShowError('GSTCustomerType', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>GST Registration No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="GST Registration No."
                            formControlName="GSTRegistrationNo" />
                        <div *ngIf="shouldShowError('GSTRegistrationNo', 'invalidGST')" class="text-danger">
                            Please enter a valid GST Registration Number. (05AAACF1282E1Z5)
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>P.A.N. No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="PANNo" placeholder="P.A.N. No." />

                        <div *ngIf="shouldShowError('PANNo', 'invalidPAN')" class="text-danger">
                            Please enter a valid PAN Number.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-0 mt-4">
                        <input type="checkbox" class="btn-check" formControlName="isDraft" id="btn-check"
                            autocomplete="off">
                        <label class="btn btn-secondary w-auto mb-0 me-2" for="btn-check" (click)="onSubmit(true)">Save as Draft</label>
                        <button type="submit" class="common-btn w-auto" (click)="onSubmit(false)">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <!--mastersform-sec-->
</div>
