<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">
    <h3 class="content-title">Add New Customer</h3>

    <div class="mastersform-sec">
        <form [formGroup]="publicVariable.dataForm">
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngIf="isAccount">
                    <div class="form-group">
                        <label>Customer No. </label>
                        <input type="hidden" formControlName="customerId" />
                        <input type="text" class="form-control" placeholder="Customer No" formControlName="customerNo"
                            (input)="onInputChange($event)" />
                        <div *ngIf="shouldShowError('customerNo', 'maxlength')" class="text-danger">
                            Customer No must be less than 20 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Name <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                        <div *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">
                            Name must be less than 100 characters.
                        </div>
                        <div *ngIf="shouldShowError('name', 'alphanumericWithSpaces')" class="text-danger">
                            Name must be alphanumeric.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Name 2 </label>
                        <input type="text" class="form-control" placeholder="Name 2" formControlName="name2"  maxlength="100"/>

                        <div *ngIf="shouldShowError('name2', 'pattern')" class="text-danger">
                            Name2 must be alphanumeric.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Address <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="address" />
                        <div *ngIf="shouldShowError('address', 'required')" class="text-danger">
                            Address is required.
                        </div>
                        <div *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">
                            address must be less than 100 characters.
                        </div>
                        <div *ngIf="shouldShowError('address', 'forbiddenCharacters')" class="text-danger">
                            Special characters are not allowed in the address
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Address 2 <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="Address 2" formControlName="address2" />
                        <div *ngIf="shouldShowError('address2', 'required')" class="text-danger">
                            Address is required.
                        </div>
                        <div *ngIf="shouldShowError('address2', 'maxlength')" class="text-danger">
                            address2 must be less than 100 characters.
                        </div>
                        <div *ngIf="shouldShowError('address2', 'forbiddenCharacters')" class="text-danger">
                            Special characters are not allowed in the address2
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Country/Region Code <sup class="text-danger">*</sup></label>
                        <ng-select [items]="publicVariable.countryList" #select bindLabel="countryName"
                            bindValue="countryCode" placeholder="Select" formControlName="countryCode"
                            [searchable]="true" [searchFn]="countrySearchFn" [virtualScroll]="true" [bufferAmount]="10">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.countryCode}} - {{item.countryName}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('countryCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>State <sup class="text-danger">*</sup></label>
                        <ng-select [items]="publicVariable.stateList" #select bindLabel="stateName"
                            bindValue="stateCode" placeholder="Select " formControlName="stateCode" [searchable]="true"
                            [searchFn]="stateSearchFn" [virtualScroll]="true" [bufferAmount]="10"
                            (change)="onSelectStateCustomer($event)">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.stateCode}} - {{item.stateName}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('stateCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>City <sup class="text-danger">*</sup></label>
                        <ng-select [items]="publicVariable.cityList" #select bindLabel="cityName" bindValue="cityCode"
                            placeholder="Select" formControlName="cityCode" [searchable]="true"
                            [searchFn]="citySearchFn" [virtualScroll]="true" [bufferAmount]="10"
                            (change)="onCitySelectionChange()">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.cityCode}} - {{item.cityName}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('cityCode', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Post Code <sup class="text-danger">*</sup></label>
                        <input type="text" formControlName="postCode" class="form-control" placeholder="Pincode"
                            (input)="onInputChange($event)" maxlength="15">
                        <div *ngIf="shouldShowError('postCode', 'required')" class="text-danger">
                            Post Code is required.
                        </div>
                        <div *ngIf="shouldShowError('postCode','pattern')" class="text-danger"> Please
                            enter a
                            valid
                            6-digit Pin Code.</div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>E-Mail <sup class="text-danger">*</sup></label>
                        <input type="email" class="form-control" formControlName="email" placeholder="email"
                            maxlength="80" />
                        <!-- <div *ngIf="shouldShowError('email', 'required')" class="text-danger">
                            Email is required.
                        </div> -->
                        <!-- <div *ngIf="shouldShowError('email', 'email')" class="text-danger">
                            Please enter a valid email address.
                        </div> -->

                        <div *ngIf="shouldShowError('email', 'invalidEmailFormat')" class="text-danger">
                            Please enter a valid email address.</div>

                        <div *ngIf="shouldShowError('email', 'maxlength')" class="text-danger">
                            Email must be less than 80 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Primary Contact No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="PrimaryContactNo"
                            placeholder="Primary Contact No" (input)="onInputChange($event)" maxlength="12" />
                        <div *ngIf="shouldShowError('PrimaryContactNo', 'required')" class="text-danger">
                            Primary Contact No is required.
                        </div>
                        <div *ngIf="shouldShowError('PrimaryContactNo', 'pattern')" class="text-danger">
                            Please enter a valid phone number.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>Contact Person <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="contact" placeholder="Contact" />

                        <div *ngIf="shouldShowError('contact', 'alphanumericWithSpaces')" class="text-danger">
                            Contact must be alphanumeric with spaces.
                        </div>

                        <div *ngIf="shouldShowError('contact', 'maxlength')" class="text-danger">
                            Contact must be less than 100 characters.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>GST Customer Type <sup class="text-danger">*</sup></label>

                        <ng-select [items]="publicVariable.customerTypeList" bindLabel="gstTypeName"
                            bindValue="gstTypeId" placeholder="Select" formControlName="GSTCustomerType"
                            (change)="ongstTypeChange($event)" maxlength="20">
                        </ng-select>
                        <div *ngIf="shouldShowError('GSTCustomerType', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>P.A.N. No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="PANNo" placeholder="P.A.N. No."
                            (change)="ValidatePAN()" maxlength="10" />
                        <div *ngIf="shouldShowError('PANNo', 'invalidPAN')" class="text-danger">
                            Please enter a valid PAN Number.
                        </div>
                        <div *ngIf="panExists" class="text-warning">
                            Customers with the same PAN Number and different GST Number already exist.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label>GST Registration No. <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" placeholder="GST Registration No."
                            formControlName="GSTRegistrationNo" (change)="validateGST()" maxlength="16"
                            [readonly]="publicVariable.dataForm.get('GSTCustomerType')?.value === 2 || !publicVariable.dataForm.get('GSTCustomerType')?.value"
                            [class.readonly]="publicVariable.dataForm.get('GSTCustomerType')?.value === 2 || !publicVariable.dataForm.get('GSTCustomerType')?.value"
                            />
                        <div *ngIf="shouldShowError('GSTRegistrationNo', 'invalidGST')" class="text-danger">
                            Please enter a valid GST Registration Number. (05AAACF1282E1Z5)
                        </div>
                        <div *ngIf="gstExists" class="text-danger"> GST number already exists. </div>
                    </div>
                </div>
                <!-- [attr.disabled]="publicVariable.dataForm.get('GSTCustomerType')?.value === '2' ? true : null" -->



                <div class="col-md-9">
                    <div class="form-group">
                        <label>Remarks <sup class="text-danger">*</sup></label>
                        <textarea class="form-control h-100" cols="3" rows="3"
                            formControlName="CustomerRemarks"></textarea>
                        <div *ngIf="shouldShowError('CustomerRemarks', 'required')" class="text-danger">
                            this fields required.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-0 mt-4">
                        <input type="checkbox" class="btn-check" formControlName="isDraft" id="btn-check"
                            autocomplete="off">
                        <label class="btn btn-secondary w-auto mb-0 me-2" for="btn-check" (click)="onSubmit(true)">Save
                            as Draft</label>
                        <button type="submit" class="common-btn w-auto" (click)="onSubmit(false)">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
