<div class="inner-content">

  <h3 class="content-title">PI Approval Inbox</h3>

  <div class="page-btns-col">

    <div class="tblsort">
      <label class="col-form-label">Show</label>
      <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="publicVariable.tableSize"
        (change)="onTableSizeChange($event)">
        <option *ngFor="let size of publicVariable.tableSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>

    <div class="dt-buttons">
      <button class="gray-btns" (click)="onDownload()" type="button"><img src="../assets/images/excel-icon.png"
          alt=""></button>
    </div>

    <!-- Example single danger button -->
    <div class="topbr-btns">
      <div class="btn-group">
        <div class="table-search">
          <input type="text" class="form-control" [(ngModel)]="publicVariable.searchText" name="name" id="name"
            placeholder="Search here" />
        </div>
      </div>
    </div>

    <div class="common-box"><a href="customer-newcustomer.html" class="common-btn">Add New</a></div>

  </div>

  <div class="inner-middle-content">
    <div class="dasboard-table">

      <div class="table-responsive">

        <table class="table text-nowrap">
          <thead>
            <tr>
              <th>PO No.</th>
              <th>PO Date</th>
              <th>Department</th>
              <th>Category</th>
              <th>Vendor Name</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Approver</th>
              <th>Update Date</th>
              <th class="action-cl">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a routerLink="view/1"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>

            <tr>
              <td>C00007</td>
              <td>10-Jan-2024</td>
              <td>FINANCE</td>
              <td>Performa Invoice</td>
              <td>Mohan Mutha Export Private Limited</td>
              <td>3,540.00</td>

              <td>Approved By Matrix</td>
              <td>aditya.agarwal@ficci.com</td>
              <td>10-Mar-2024</td>

              <td><span class="table-btns">
                  <a href="view-pi-approval-inbox.html"><img src="../assets/images/view-icon.svg" alt=""></a>

                </span>
              </td>
            </tr>




          </tbody>
        </table>

      </div>

      <div class="clearfix">
        <div class="hint-text">Showing <b>1</b> out of <b>10</b> entries</div>
        <ul class="pagination">
          <li class="page-item"><a href="#" class="page-link"><img src="../assets/images/angle-left-icon.svg"
                alt=""></a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">...</a></li>
          <li class="page-item"><a href="#" class="page-link">9</a></li>
          <li class="page-item"><a href="#" class="page-link">10</a></li>
          <li class="page-item"><a href="#" class="page-link"><img src="../assets/images/angle-right-icon.svg"
                alt=""></a></li>
        </ul>
      </div>


    </div>
  </div>

</div>
