
    <div class="pi-pagetitle mt-4">Mailer Information</div>
    <form [formGroup]="publicVariable.mailForm" (ngSubmit)="onSendEmail()">
        <div class="mailer-piaccount">

            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Mail to</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" placeholder="Mail to"
                        formControlName="emailTo">
                    <div *ngIf="shouldShowError('emailTo','required')" class="text-danger">Mail to is required.</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="Subject" class="col-sm-2 col-form-label">Subject</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Subject" formControlName="subject"
                        id="Subject">
                    <div *ngIf="shouldShowError('subject','required')" class="text-danger">Subject is required.</div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="Body" class="col-sm-2 col-form-label">Body</label>
                <div class="col-sm-9">

                    <div class="NgxEditor__Wrapper">
                        <angular-editor [config]="editorConfig" id="Body" formControlName="body"></angular-editor>
                        <div *ngIf="shouldShowError('body','required')" class="text-danger">Body is required.</div>
                    </div>
                </div>
            </div>

            <div class="mb-3 row attach-col2">
                <label for="formFile" class="col-sm-2 col-form-label">Attachment</label>
                <div class="col-sm-9">
                    <input class="form-control" type="file" id="formFile" formControlName="attachment" multiple>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb-0 mt-4">
                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">

                    <button type="submit" class="common-btn w-auto">Submit</button>
                </div>
            </div>

        </div>
    </form>


