<div class="container">
  <form [formGroup]="publicVariable.dataForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">

    <div class="row my-4">
      <div class="col-md-2">
        <label for="c_Code">Code:</label>
        <input type="text" id="c_Code" class="form-control" formControlName="c_Code" />
        <div *ngIf="shouldShowError('c_Code','required')" class="text-danger">Code is required.</div>
        <div *ngIf="shouldShowError('c_Code','minlength')" class="text-danger">Code must be at least 3 characters long.</div>
        <div *ngIf="shouldShowError('c_Code','maxlength')" class="text-danger">Code cannot be more than 10 characters long.</div>
        <div *ngIf="shouldShowError('c_Code','alphanumeric')" class="text-danger">Code can only contain letters and numbers.</div>

      </div>
      <div class="col-md-2">
        <label for="c_Value">Value:</label>
        <input type="text" id="c_Value" class="form-control" formControlName="c_Value" />
        <div *ngIf="shouldShowError('c_Value','required')" class="text-danger">Value is required.</div>
        <div *ngIf="shouldShowError('c_Value','minlength')" class="text-danger">Value must be at least 5 characters long.</div>
        <div *ngIf="shouldShowError('c_Value','maxlength')" class="text-danger"> Value cannot be more than 20 characters long.</div>
        <div *ngIf="shouldShowError('c_Value','alphanumericWithSpacesValidator')" class="text-danger">Value can only contain letters and numbers.</div>

      </div>
      <div class="col-md-2">
        <label for="categoryID">Category:</label>
        <ng-select [items]="publicVariable.categoryList" formControlName="categoryID" bindLabel="category_Name" bindValue="id" placeholder="Select Category">
          <ng-template nsSelectPlaceholder>Select Category</ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.category_Name | titlecase }}
          </ng-template>
        </ng-select>
        <div *ngIf="shouldShowError('categoryID','required')" class="text-danger">Category is required
        </div>
      </div>
      <div class="col-md-2">
        <label for="isActive">Active:</label>
        <input type="checkbox" id="isActive" formControlName="isActive">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">{{ publicVariable.isEdit ? 'Update' : 'Save' }}</button>

      </div>
    </div>

  </form>
  <div class="analdrop1" *ngIf="publicVariable.data && publicVariable.data.length > 0">
    <label>Export Data</label>
    <button (click)="onDownload()" class="gray-btns" type="button"><i class="las la-file-export"></i> Download</button>
  </div>
  <input *ngIf="publicVariable.data && publicVariable.data.length > 0" type="text" [(ngModel)]="publicVariable.searchText" placeholder="Search by code or category">

  <div *ngIf="publicVariable.data && publicVariable.data.length > 0">
    <label for="itemsPerPageSelect">Items Per Page:</label>
    <select id="itemsPerPageSelect" [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
      <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Value</th>
        <th>Category</th>
        <th>IsActive</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of publicVariable.data| searchFilter: publicVariable.searchText | paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index;trackBy: utilityService.trackById">
        <td>{{ item.c_Code }}</td>
        <td>{{ item.c_Value | titlecase}}</td>
        <td>{{ item.category_Name | titlecase}}</td>
        <td>{{ item.isActive }}</td>
        <td> <button class="btn btn-warning" (click)="onEdit(item)">Edit</button>
          <button class="btn btn-danger ml-2" (click)="onDelete(item.c_ID)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!publicVariable.data || publicVariable.data.length === 0  ">
    <p>No data found.</p>
  </div>
  <div class="text-center" *ngIf="(publicVariable.data | searchFilter: publicVariable.searchText).length === 0 && publicVariable.data.length > 0">
    <Strong class="text-danger"> No results found.</Strong>
  </div>
  <div class="d-flex justify-content-center" *ngIf="publicVariable.data && publicVariable.data.length > 0">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
