<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">
    <h3 class="content-title">Sales Credit Note Status</h3>

    <div class="page-btns-col"
        >
        <div class="tblsort">
            <label class="col-form-label">Show</label>
            <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="publicVariable.tableSize"
                (change)="onTableSizeChange($event)">
                <option *ngFor="let size of publicVariable.tableSizes" [value]="size">
                    {{ size }}
                </option>
            </select>
        </div>

        <div class="homefilterdt">
            <div class="ficdrop1">
                <div class="form-group">
                    <label>Select Date</label>
                    <select id="select-tags4" class="form-select" [(ngModel)]="selectedValue"
                        (change)="onValueChange($event)">
                        <option value="ALL">ALL</option>
                        <option value="Today">Today</option>
                        <option value="Yesterday">Yesterday</option>
                        <option value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                    </select>
                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label>From</label>
                    <input class="form-control" type="date" id="startDate" name="startDate" [(ngModel)]="startDate"
                        [max]="endDate"> </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label>To</label>
                    <input class="form-control" type="date" id="endDate" name="endDate" [(ngModel)]="endDate"
                        [max]="endDate">
                    <div *ngIf="dateRangeError" class="form-validate-err">
                        To Date must be after From Date
                    </div>
                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label class="d-none d-sm-block">&nbsp;</label>
                    <button type="reset" (click)="reset()" class="btn common-btn">Reset</button>
                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label class="d-none d-sm-block">&nbsp;</label>
                    <button type="submit" (click)="submitDateRange()" class="btn common-btn">Submit</button>
                </div>
            </div>

        </div>

        <div class="dt-buttons">
            <button class="gray-btns" type="button" (click)="onDownload()" title="Download Excel">
                <img src="../assets/images/excel-icon.png" alt="" />
            </button>
        </div>

        <!-- Example single danger button -->
        <div class="topbr-btns">
            <div class="btn-group">
                <div class="table-search">
                    <input type="text" class="form-control" [(ngModel)]="publicVariable.searchText" name="name"
                        id="name" placeholder="Search here" />
                </div>
            </div>
        </div>

        <!-- <div class="common-box">
            <a routerLink="/invoice/new" class="common-btn" *ngIf="this.publicVariable.storedRole !== 'Admin'">Add
                New</a>
        </div> -->
    </div>

    <div class="inner-middle-content">
        <div class="dasboard-table">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Record No.</th>
                            <th>Credit Memo No.</th>

                            <th>Invoice Type</th>
                            <th>Project Code</th>
                            <th>Project Name</th>
                            <th>Department</th>
                            <!-- <th>Division</th> -->
                            <th>Vendor Name</th>
                            <th>City</th>
                            <th>Invoice Amount</th>
                            <th>Credit Memo Amount</th>

                            <!-- <th>Accounts Approver </th> -->
                            <th>Created On</th>
                            <th>Created By</th>
                            <th>TL Approver</th>
                            <!-- <th>CL Approver</th> -->
                            <th>Finance Approver</th>
                            <th>Total Amount</th>
                            <th>Status</th>

                            <th class="action-cl">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let d of  this.publicVariable.invoiceStatuslistData | searchFilter: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                            <td>{{i + 1}}</td>

                            <td>{{d.recordID}}</td>

                            <td>{{d.creditMemoNavNo}}</td>
                            <td>{{d.impiHeaderInvoiceType | titlecase}}</td>
                            <td>{{d.impiHeaderProjectCode}}</td>
                            <td>{{d.impiHeaderProjectName | titlecase}}</td>
                            <td>{{d.impiHeaderProjectDepartmentName | titlecase}}</td>
                            <!-- <td>{{d.impiHeaderProjectDivisionName | titlecase}}</td> -->
                            <td>{{d.impiHeaderCustomerName | titlecase}}</td>
                            <td>{{d.impiHeaderCustomerCity | titlecase}}</td>
                            <td>{{d.impiHeaderTotalInvoiceAmount | number:'1.2-2' }}</td>
                            <td>{{d.memoAmount | number:'1.2-2' }}</td>
                            <!-- <td>{{d.accountApprover | titlecase}}</td> -->
                            <td>{{d.impiHeaderSubmittedDate | date:'medium':'IST'}}</td>
                            <td>{{d.impiHeaderCreatedBy | titlecase}}</td>
                            <td>{{d.impiHeaderTlApprover | titlecase}}</td>
                            <!-- <td>{{d.impiHeaderClusterApprover | titlecase}}</td> -->
                            <td>{{d.impiHeaderFinanceApprover | titlecase}}</td>
                            <td>{{d.impiHeaderTotalInvoiceAmount | number}}</td>

                            <td>{{d.headerStatus }}</td>

                            <td>
                                <span class="table-btns">
                                    <a href="javascript:void(0);" (click)="onView(d)"><img
                                            src="../assets/images/view-icon.svg" alt="" title="View" /></a>
                                    <a *ngIf="publicVariable.storedRole !== 'Admin' &&
                                    (d.isDraft ||
                                    d.headerStatus == 'REJECTED BY TL APPROVER'  ||
                                    d.headerStatus == 'REJECTED BY CH APPROVER' ||
                                    d.headerStatus == 'REJECTED BY ACCOUNTS APPROVER'
                                    ||d.headerStatus == 'REJECTED BY FINANCE APPROVER'
                                    )"
                                        href="javascript:void(0);" (click)="onEdit(d)" title="Edit"><img
                                            src="../assets/images/edit-icon.svg" alt="" /></a>

                                            <a *ngIf="d.creditMemoNavNo && d.headerStatus == 'CREDIT MEMO POSTED' "href="javascript:void(0);"
                                            (click)="downalodFile(d.creditMemoNavNo)"><img
                                                src="../assets/images/download-icon.svg" alt="" title="Download Details" /></a>
                                    <!-- <a *ngIf="publicVariable.storedRole !== 'Admin' &&
                                    (d.isDraft ||
                                    d.headerStatus == 'REJECTED BY TL APPROVER'  ||
                                    d.headerStatus == 'REJECTED BY CH APPROVER' ||
                                    d.headerStatus == 'REJECTED BY ACCOUNTS APPROVER'   || d.headerStatus == 'REJECTED BY FINANCE APPROVER'
                                       )"
                                        href="javascript:void(0)" (click)="onDelete(d.headerId)" data-bs-toggle="modal"
                                        data-bs-target="#deleterecord-modal"><img src="../assets/images/delete-icon.svg"
                                            alt="" /></a> -->
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!publicVariable.invoiceStatuslistData || publicVariable.invoiceStatuslistData.length === 0">
                    <p>No data found.</p>
                </div>
                <div class="text-center"
                    *ngIf="(publicVariable.invoiceStatuslistData | searchFilter: publicVariable.searchText).length === 0 && publicVariable.invoiceStatuslistData.length > 0">
                    <span class="text-danger">No results found.</span>
                </div>
            </div>

            <div class="clearfix">
                <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of <b>{{
                        publicVariable.count }}</b>
                    entries</div>
                <pagination-controls previousLabel="Prev" class="pagination"
                    *ngIf="publicVariable.invoiceStatuslistData && publicVariable.invoiceStatuslistData.length > 0"
                    nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
