<div class="inner-content">

    <h3 class="content-title">My Profile</h3>

  <div class="mastersform-sec">
         <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Customer No.</label>
              <input type="text" value="C00007" class="form-control" disabled="" readonly="">
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Name</label>
              <input type="text" value="INTERACTIVE PVT LTD" class="form-control" disabled="" readonly="">
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>E-Mail</label>
              <input type="text" value="Vinayak.chavan@ficci.com" class="form-control" disabled="" readonly="">
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Contact No.</label>
              <input type="text" value="1234567890" class="form-control" disabled="" readonly="">
            </div>
          </div>

            <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Department</label>
              <input type="text" value="Finance" class="form-control" disabled="" readonly="">
            </div>
          </div>

            <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Reporting Manager</label>
              <input type="text" value="Amit Kumar" class="form-control" disabled="" readonly="">
            </div>
          </div>

            <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Business Unit Head</label>
              <input type="text" value="Satosh Kumar" class="form-control" disabled="" readonly="">
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <label>Current Office Location</label>
              <input type="text" value="Gurgaon, Haryana, India" class="form-control" disabled="" readonly="">
            </div>
          </div>




        </div>

    </div>

  </div>
