<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">

    <h3 class="content-title">Posted Text Invoice</h3>

    <div class="page-btns-col">

        <div class="tblsort" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
            <label class="col-form-label">Show</label>
            <select id="itemsPerPageSelect" class="form-select"
                [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
                <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}
                </option>
            </select>
        </div>

        <div class="dt-buttons" *ngIf="InvoiceSummaryList.length > 0">
            <button class="gray-btns" (click)="onDownloadInvoiceSummary()" type="button"><img
                    src="../assets/images/excel-icon.png" alt=""></button>
        </div>
        <div class="topbr-btns">
            <div class="btn-group" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                <div class="table-search"><input type="text" class="form-control"
                        [(ngModel)]="publicVariable.searchText" name="name" id="name"
                        placeholder="Search here"></div>
            </div>
        </div>
    </div>

    <div class="inner-middle-content">
        <div class="dasboard-table">

            <div class="table-responsive">

                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No</th>
                            <th>Posting Date</th>
                            <th>Invoice No</th>
                            <th>Customer No</th>
                            <th>Customer</th>
                            <th>Project Code</th>
                            <th>Department</th>
                            <th>Division </th>
                            <th class="action-cl">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr
                            *ngFor="let d of  this.InvoiceSummaryList | paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{d.no}}</td>
                            <td>{{d.postingDate}}</td>
                            <td>{{d.invoice_no}}</td>
                            <td>{{d.sellToCustomerNo}}</td>
                            <td>{{d.sellToCustomerName}}</td>
                            <td>{{d.projectCode}}</td>
                            <td>{{d.departmentName}}</td>
                            <td>{{d.divisionName}}</td>
                            <td><span class="table-btns">
                                    <a href="javascript:void(0);" (click)="InvoicedView(d)"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>

                                    <a href="javascript:void(0);" data-bs-toggle="modal"
                                        data-bs-target="#workflow-modal"><img
                                            src="../assets/images/download-icone.svg"
                                            alt="" /></a>
                                </span>
                            </td>
                        </tr>



                    </tbody>
                </table>
                <div *ngIf="!InvoiceSummaryList || InvoiceSummaryList.length === 0">
                    <div class="text-center my-3">No data found.</div>
                </div>
                <!-- <div class="text-center"
                    *ngIf="(InvoiceSummaryList | searchFilter1: publicVariable.searchText).length === 0 && InvoiceSummaryList.length > 0">
                    <span class="text-danger">No results found.</span>
                </div> -->
            </div>


            <div class="clearfix" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of
                    <b>{{
                        publicVariable.count }}</b>
                    entries
                </div>
                <pagination-controls previousLabel="Prev" class="pagination" nextLabel="Next"
                    (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>


        </div>
    </div>

</div>
