<div class="inner-content">

    <h3 class="content-title">Customer Accounts Inbox</h3>

    <div class="page-btns-col">

        <div class="tblsort">
            <label class="col-form-label">Show</label>
            <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="publicVariable.tableSize"
                (change)="onTableSizeChange($event)">
                <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}</option>
            </select>
        </div>

        <div class="dt-buttons">
            <button class="gray-btns" type="button" (click)="onDownload()"><img src="../assets/images/excel-icon.png" alt=""></button>
        </div>

        <!-- Example single danger button -->
        <div class="topbr-btns">
            <div class="btn-group">
              <div class="table-search"><input type="text" class="form-control" [(ngModel)]="publicVariable.searchText"
                name="name" id="name" placeholder="Search here"></div>
            </div>
          </div>

        <div class="common-box"><a routerLink="/customer/new" class="common-btn">Add New</a></div>

    </div>

    <div class="inner-middle-content">
        <div class="dasboard-table">

            <div class="table-responsive">

                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>Cust. No.</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th class="action-cl">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a routerLink="remarks/1"><img src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>C00007</td>
                            <td>INTERACTIVE PVT LTD</td>
                            <td>KPT House,Plot 41/13,Sector-30</td>
                            <td>Navi Mumbai</td>
                            <td>1234567890</td>
                            <td>carol@ficci.com</td>

                            <td><span class="table-btns">
                                    <a href="customer-accounts-inbox-view.html"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                </span>
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>

            <div class="clearfix">
                <div class="hint-text">Showing <b>1</b> out of <b>10</b> entries</div>
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link"><img src="../assets/images/angle-left-icon.svg"
                                alt=""></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">...</a></li>
                    <li class="page-item"><a href="#" class="page-link">9</a></li>
                    <li class="page-item"><a href="#" class="page-link">10</a></li>
                    <li class="page-item"><a href="#" class="page-link"><img src="../assets/images/angle-right-icon.svg"
                                alt=""></a></li>
                </ul>
            </div>


        </div>
    </div>

</div>
