<header class="login-page">
    <div class="container">
      <div class="header-logo"><a href="#"><img src="../assets/images/logo.png" alt=""> </a></div>
    </div>
  </header>

  <div class="login-wrapper main-content">

    <div class="container">

        <div class="innerlogin-sec">

          <div class="login-vector"><img src="../assets/images/login-vector.jpg" alt=""></div>

          <div class="home-search">
                <h1>Login</h1>

                  <form class="login-form" name="cform" method="post">
                  <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" placeholder="" name="userid" id="userid" required="">
                  <span class="login-ico"><img src="../assets/images/user-icon.png" alt=""></span>
                  </div>

                  <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="" name="password" id="userpass" required="">
                  <span class="login-ico"><img src="../assets/images/password-icon.png" style="max-height:14px;" alt=""></span>
                  </div>

                  <div class="form-group mt-4">
                  <button type="submit" class="common-btn w-auto">LOGIN</button>
                  </div>

                  </form>

                </div>

        </div>


        <p class="login-copyright">Federation of Indian Chambers of Commerce & Industry © 2024 | All rights reserved.</p>

          </div>

  </div>
