<app-loading *ngIf="publicVariable.isProcess"></app-loading>
<div class="inner-content">
    <h3 class="content-title">Sales Invoice Dashboard</h3>
    <div class="main-data-navs">
        <ul class="nav nav-pills main-data-nav1 mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true"
                    (click)="loadCustomerStatusCountList()">Customer</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
                    (click)="loadPurchaseInvoiceList()">Purchase
                    Invoice</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="data-tabs" *ngIf="this.publicVariable.storedRole !== 'Accounts'">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tabbg-1" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('DRAFT')">
                                <small>Draft</small>
                                <span>{{this.isDRAFT }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabbg-2" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('PENDING WITH APPROVER')">
                                <small>Pending Approval</small>
                                <span>{{this.PendingApproval }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabbg-3" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('APPROVED BY ACCOUNTS APPROVER')">
                                <small>Approved Accounts</small>
                                <span>{{this.ApprovedAccounts }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('REJECTED BY CH APPROVER')">
                                <small>Rejected by Customer</small>
                                <span>{{this.RejectedbyAccounts }}</span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="this.publicVariable.storedRole === 'Accounts'">
                            <a class="nav-link tabbg-6" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('FOR APPROVAL')">
                                <small>For Approval</small>
                                <span>{{this.forapproval}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('ALL')">
                                <small>All</small>
                                <span>{{this.ALL }}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="data-tabs" *ngIf="this.publicVariable.storedRole == 'Accounts'">
                    <ul class="nav nav-pills" role="tablist">

                        <li class="nav-item" >
                            <a class="nav-link tabbg-6" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('FOR APPROVAL')">
                                <small>For Approval</small>
                                <span>{{this.forapproval}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-3" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('APPROVED BY ACCOUNTS APPROVER')">
                                <small>Approved</small>
                                <span>{{this.ApprovedAccounts }}</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('REJECTED BY CH APPROVER')">
                                <small>Reject</small>
                                <span>{{this.RejectedbyAccounts }}</span>
                            </a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link tabbg-2" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('PENDING WITH APPROVER')">
                                <small>Pending Approval</small>
                                <span>{{this.PendingApproval }}</span>
                            </a>
                        </li> -->



                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#home"
                                (click)="loadCustomerStatusList('ALL')">
                                <small>All</small>
                                <span>{{this.ALL }}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="data-tabs-content">

                    <!--Customer Tab  -->
                    <div class="tab-content">

                        <div id="home" class="tab-pane active"><br>

                            <div class="page-btns-col">

                                <div class="tblsort"
                                    *ngIf="publicVariable.customerStatusList && publicVariable.customerStatusList.length > 0">
                                    <label class="col-form-label">Show</label>
                                    <select id="itemsPerPageSelect" class="form-select"
                                        [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
                                        <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}
                                        </option>
                                    </select>
                                </div>

                                <div class="dt-buttons"
                                    *ngIf="publicVariable.customerStatusList && publicVariable.customerStatusList.length > 0">
                                    <button class="gray-btns" (click)="onDownload()" type="button"><img
                                            src="../assets/images/excel-icon.png" alt=""></button>
                                </div>
                                <div class="topbr-btns">
                                    <div class="btn-group"
                                        *ngIf="publicVariable.customerStatusList && publicVariable.customerStatusList.length > 0">
                                        <div class="table-search"><input type="text" class="form-control"
                                                [(ngModel)]="publicVariable.searchText" name="name" id="name"
                                                placeholder="Search here"></div>
                                    </div>
                                </div>

                                <!-- <div class="common-box"><a routerLink="/customer/new" class="common-btn"
                                        *ngIf="this.publicVariable.storedRole !== 'Admin'">Add New</a></div> -->

                            </div>

                            <div class="inner-middle-content">
                                <div class="dasboard-table">

                                    <div class="table-responsive">

                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Address</th>
                                                    <th>City</th>
                                                    <th>Contact</th>
                                                    <th>GST No</th>
                                                    <th>PAN No</th>
                                                    <th>Created On</th>
                                                    <th>Created By</th>
                                                    <th>Status</th>
                                                    <th class="action-cl">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr
                                                    *ngFor="let d of  this.publicVariable.customerStatusList | searchFilter: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{d.customerName |titlecase }}</td>
                                                    <td>{{d.address}}</td>
                                                    <td>{{ d.cityList.cityName}}</td>
                                                    <td>{{d.phoneNumber}}</td>
                                                    <td>{{d.gstNumber}}</td>
                                                    <td>{{d.pan}}</td>
                                                    <td>{{d.createdOn | date:'medium':'IST' }}</td>
                                                    <td>{{d.createdBy}}</td>
                                                    <td>{{d.customerStatus | titlecase}}</td>
                                                    <td><span class="table-btns">
                                                            <a href="javascript:void(0);" (click)="onView(d)"
                                                                *ngIf="customerStatus !== 'FOR APPROVAL'">
                                                                <img src="../assets/images/view-icon.svg" alt="">
                                                            </a>
                                                            <a href="javascript:void(0);" (click)="onApproval(d)"
                                                                *ngIf="customerStatus == 'FOR APPROVAL'">
                                                                <img src="../assets/images/view-icon.svg" alt="">
                                                            </a>
                                                            <a *ngIf="publicVariable.storedRole !== 'Admin' && d.createdBy === this.publicVariable.storedEmail && (d.isDraft ||
                                                                d.customerStatus == 'REJECTED BY TL APPROVER' ||
                                                                d.customerStatus == 'REJECTED BY CH APPROVER' ||
                                                                d.customerStatus == 'REJECTED BY ACCOUNTS APPROVER')"
                                                                href="javascript:void(0);" (click)="onEdit(d)">
                                                                <img src="../assets/images/edit-icon.svg" alt="">
                                                            </a>
                                                            <a *ngIf="publicVariable.storedRole !== 'Admin' && d.createdBy === this.publicVariable.storedEmail && (d.isDraft ||
                                                                d.customerStatus == 'REJECTED BY TL APPROVER' ||
                                                                d.customerStatus == 'REJECTED BY CH APPROVER' ||
                                                                d.customerStatus == 'REJECTED BY ACCOUNTS APPROVER')"
                                                                href="javascript:void(0);"
                                                                (click)="onDelete(d.customerId)"><img
                                                                    src="../assets/images/delete-icon.svg" alt=""></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div
                                            *ngIf="!publicVariable.customerStatusList || publicVariable.customerStatusList.length === 0">
                                            <div class="text-center my-3">No data found.</div>
                                        </div>
                                        <div class="text-center"
                                            *ngIf="(publicVariable.customerStatusList | searchFilter: publicVariable.searchText).length === 0 && publicVariable.customerStatusList.length > 0">
                                            <span class="text-danger">No results found.</span>
                                        </div>
                                    </div>

                                    <div class="clearfix"
                                        *ngIf="publicVariable.customerStatusList && publicVariable.customerStatusList.length > 0">
                                        <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of
                                            <b>{{
                                                publicVariable.count }}</b>
                                            entries
                                        </div>
                                        <pagination-controls previousLabel="Prev" class="pagination" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!--PI tab-pane-->

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="data-tabs" *ngIf="this.publicVariable.storedRole !== 'Accounts'">
                    <ul class="nav nav-pills" role="tablist">


                        <li class="nav-item">
                            <a class="nav-link active tabbg-1" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('DRAFT')">
                                <small>Draft</small>
                                <span>{{PIisDRAFT}}</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link tabbg-2" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('PENDING WITH APPROVER')">
                                <small>Pending Approval</small>
                                <span>{{PIPendingApproval}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-3" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('APPROVED BY ACCOUNTS APPROVER')">
                                <small>Approved Accounts</small>
                                <span>{{PIApprovedAccounts}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('REJECTED BY CH APPROVER')">
                                <small>Rejected Invoice</small>
                                <span>{{PIRejectedbyAccounts}}</span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="this.publicVariable.storedRole === 'Approver'">
                            <a class="nav-link tabbg-6" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('FOR APPROVAL')">
                                <small>For Approval</small>
                                <span>{{this.PIforapproval}}</span>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="this.publicVariable.storedRole === 'Accounts'">
                            <a class="nav-link tabbg-6" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('FOR APPROVAL')">
                                <small>For Approval</small>
                                <span>{{this.PIforapproval}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('ALL')">
                                <small>All</small>
                                <span>{{PIALL}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#menu4"
                                (click)="loadInvoiceSummary()">
                                <small>Posted Tax Invoice</small>
                                <span>{{PostedTaxInvoiceCount}}</span>
                            </a>
                        </li>


                    </ul>


                </div>

                <div class="data-tabs" *ngIf="this.publicVariable.storedRole == 'Accounts'">
                    <ul class="nav nav-pills" role="tablist">



                        <li class="nav-item">
                            <a class="nav-link tabbg-6" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('FOR APPROVAL')">
                                <small>For Approval</small>
                                <span>{{this.PIforapproval}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-3" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('APPROVED BY ACCOUNTS APPROVER')">
                                <small>Approved</small>
                                <span>{{PIApprovedAccounts}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('REJECTED BY CH APPROVER')">
                                <small>Rejected</small>
                                <span>{{PIRejectedbyAccounts}}</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('Cancelled')">
                                <small>Cancelled</small>
                                <span>{{Cancelled}}</span>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#menu4"
                                (click)="loadInvoiceSummary()">
                                <small>Invoiced</small>
                                <span>{{PostedTaxInvoiceCount}}</span>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link tabbg-4" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('Reversal')">
                                <small>Reversal</small>
                                <span>{{PIRejectedbyAccounts}}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tabbg-5" data-bs-toggle="pill" href="#PIhome"
                                (click)="loadInoivceStatusList('ALL')">
                                <small>All</small>
                                <span>{{PIALL}}</span>
                            </a>
                        </li>




                    </ul>


                </div>
                <div class="data-tabs-content">

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div id="PIhome" class="tab-pane active" ><br>

                            <div class="page-btns-col">

                                <div class="tblsort" *ngIf="invoiceStatuslistData && invoiceStatuslistData.length > 0">
                                    <label class="col-form-label">Show</label>
                                    <select id="itemsPerPageSelect" class="form-select"
                                        [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
                                        <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}
                                        </option>
                                    </select>
                                </div>

                                <div class="dt-buttons" *ngIf="invoiceStatuslistData.length > 0">
                                    <button class="gray-btns" (click)="onDownloadPI()" type="button"><img
                                            src="../assets/images/excel-icon.png" alt=""></button>
                                </div>
                                <div class="topbr-btns">
                                    <div class="btn-group"
                                        *ngIf="invoiceStatuslistData && invoiceStatuslistData.length > 0">
                                        <div class="table-search"><input type="text" class="form-control"
                                                [(ngModel)]="publicVariable.searchText" name="name" id="name"
                                                placeholder="Search here"></div>
                                    </div>
                                </div>

                                <!-- <div class="common-box"><a routerLink="/invoice/new" class="common-btn"
                                        *ngIf="this.publicVariable.storedRole !== 'Admin'">Add New</a></div> -->

                            </div>

                            <div class="inner-middle-content">
                                <div class="dasboard-table">

                                    <div class="table-responsive">

                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Invoice Type</th>
                                                    <th>Project Code</th>
                                                    <th>Project Name</th>
                                                    <th>Department</th>
                                                    <th>Division</th>
                                                    <th>Vendor Name</th>
                                                    <th>City</th>
                                                    <th>Amount</th>
                                                    <th>TL Approver</th>
                                                    <th>CL Approver</th>
                                                    <th>Finance Approver</th>
                                                    <th>Accounts Approver </th>
                                                    <th>Created On</th>
                                                    <th>Created By</th>
                                                    <th>Status</th>
                                                    <th class="action-cl">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let d of  this.invoiceStatuslistData | invoiceFilter: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{d.impiHeaderInvoiceType | titlecase}}</td>
                                                    <td>{{d.impiHeaderProjectCode}}</td>
                                                    <td>{{d.impiHeaderProjectName | titlecase}}</td>
                                                    <td>{{d.impiHeaderProjectDepartmentName | titlecase}}</td>
                                                    <td>{{d.impiHeaderProjectDivisionName | titlecase}}</td>
                                                    <td>{{d.impiHeaderCustomerName | titlecase}}</td>
                                                    <td>{{d.impiHeaderCustomerCity | titlecase}}</td>
                                                    <td>{{d.impiHeaderTotalInvoiceAmount | number:'1.2-2' }}</td>
                                                    <td>{{d.impiHeaderTlApprover | titlecase}}</td>
                                                    <td>{{d.impiHeaderClusterApprover | titlecase}}</td>
                                                    <td>{{d.impiHeaderFinanceApprover | titlecase}}</td>
                                                    <td>{{d.accountApprover | titlecase}}</td>
                                                    <td>{{d.impiHeaderSubmittedDate | date:'medium':'IST'}}</td>
                                                    <td>{{d.impiHeaderCreatedBy | titlecase}}</td>
                                                    <td>{{d.headerStatus | titlecase}}</td>

                                                    <td>
                                                        <span class="table-btns">
                                                            <a href="javascript:void(0);" (click)="onViewPI(d)"
                                                                *ngIf="customerStatus !== 'FOR APPROVAL'">
                                                                <img src="../assets/images/view-icon.svg" alt="">
                                                            </a>
                                                            <a href="javascript:void(0);" (click)="onApprovalPI(d)"
                                                                *ngIf="customerStatus == 'FOR APPROVAL' &&  this.publicVariable.storedRole == 'Approver'">
                                                                <img src="../assets/images/view-icon.svg" alt="">
                                                            </a>
                                                            <a href="javascript:void(0);" (click)="onViewAccountPI(d)"
                                                                *ngIf="customerStatus == 'FOR APPROVAL' &&  this.publicVariable.storedRole == 'Accounts'">
                                                                <img src="../assets/images/view-icon.svg" alt="">
                                                            </a>

                                                            <!-- <a href="javascript:void(0);" (click)="onSendEmail(d)"
                                                                *ngIf="d.headerStatus === 'APPROVED BY ACCOUNTS APPROVER' &&  this.publicVariable.storedRole == 'Accounts' "><img
                                                                    src="../assets/images/email-icon.svg" alt="" /></a> -->

                                                            <a *ngIf="publicVariable.storedRole !== 'Admin' &&
                                                                    (d.isDraft ||
                                                                    d.headerStatus == 'REJECTED BY TL APPROVER'  ||
                                                                    d.headerStatus == 'REJECTED BY CH APPROVER' ||
                                                                    d.headerStatus == 'REJECTED BY ACCOUNTS APPROVER' ||  d.headerStatus == 'REJECTED BY FINANCE APPROVER')"
                                                                href="javascript:void(0);" (click)="onEditPI(d)"><img
                                                                    src="../assets/images/edit-icon.svg" alt="" /></a>
                                                            <a *ngIf="publicVariable.storedRole !== 'Admin' &&
                                                                    (d.isDraft ||
                                                                    d.headerStatus == 'REJECTED BY TL APPROVER'  ||
                                                                    d.headerStatus == 'REJECTED BY CH APPROVER' ||
                                                                    d.headerStatus == 'REJECTED BY ACCOUNTS APPROVER'  ||d.headerStatus == 'REJECTED BY FINANCE APPROVER')"
                                                                href="javascript:void(0)"
                                                                (click)="onDeletePI(d.headerId)" data-bs-toggle="modal"
                                                                data-bs-target="#deleterecord-modal"><img
                                                                    src="../assets/images/delete-icon.svg" alt="" /></a>

                                                            <a href="javascript:void(0);" (click)="onSendEmail(d)"
                                                                *ngIf="d.headerStatus === 'APPROVED BY ACCOUNTS APPROVER' && publicVariable.storedRole == 'Accounts' "><img
                                                                    src="../assets/images/email-icon.svg" alt="" /></a>
                                                            <a href="javascript:void(0);" (click)="onediteEmail(d)"
                                                                *ngIf="d.headerStatus === 'MAIL SENT BY ACCOUNT TO CUSTOMER' && publicVariable.storedRole == 'Accounts' "><img
                                                                    src="../assets/images/email-edit-icon.svg"
                                                                    alt="" /></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="!invoiceStatuslistData || invoiceStatuslistData.length === 0">
                                            <div class="text-center my-3">No data found.</div>
                                        </div>
                                        <div class="text-center"
                                            *ngIf="(invoiceStatuslistData | invoiceFilter: publicVariable.searchText).length === 0 && invoiceStatuslistData.length > 0">
                                            <span class="text-danger">No results found.</span>
                                        </div>
                                    </div>

                                    <div class="clearfix"
                                        *ngIf="invoiceStatuslistData && invoiceStatuslistData.length > 0">
                                        <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of
                                            <b>{{
                                                publicVariable.count }}</b>
                                            entries
                                        </div>
                                        <pagination-controls previousLabel="Prev" class="pagination" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>


                                </div>
                            </div>



                        </div>
                        <!--tab-pane-->


                        <div id="menu4" class="tab-pane fade"><br>

                            <div class="page-btns-col">

                                <div class="tblsort" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                                    <label class="col-form-label">Show</label>
                                    <select id="itemsPerPageSelect" class="form-select"
                                        [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
                                        <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}
                                        </option>
                                    </select>
                                </div>

                                <div class="dt-buttons" *ngIf="InvoiceSummaryList.length > 0">
                                    <button class="gray-btns" (click)="onDownloadInvoiceSummary()" type="button"><img
                                            src="../assets/images/excel-icon.png" alt=""></button>
                                </div>
                                <div class="topbr-btns">
                                    <div class="btn-group" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                                        <div class="table-search"><input type="text" class="form-control"
                                                [(ngModel)]="publicVariable.searchText" name="name" id="name"
                                                placeholder="Search here"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="inner-middle-content">
                                <div class="dasboard-table">

                                    <div class="table-responsive">

                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>No</th>
                                                    <th>Posting Date</th>
                                                    <th>Invoice No</th>
                                                    <th>Customer No</th>
                                                    <th>Customer</th>
                                                    <th>Project Code</th>
                                                    <th>Department</th>
                                                    <th>Division </th>
                                                    <th class="action-cl">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr
                                                    *ngFor="let d of  this.InvoiceSummaryList | searchFilter1: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{d.no}}</td>
                                                    <td>{{d.postingDate}}</td>
                                                    <td>{{d.invoice_no}}</td>
                                                    <td>{{d.sellToCustomerNo}}</td>
                                                    <td>{{d.sellToCustomerName}}</td>
                                                    <td>{{d.projectCode}}</td>
                                                    <td>{{d.departmentName}}</td>
                                                    <td>{{d.divisionName}}</td>
                                                    <td><span class="table-btns">
                                                            <a href="javascript:void(0);" (click)="InvoicedView(d)"><img
                                                                    src="../assets/images/view-icon.svg" alt=""></a>
                                                        </span>
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>
                                        <div *ngIf="!InvoiceSummaryList || InvoiceSummaryList.length === 0">
                                            <div class="text-center my-3">No data found.</div>
                                        </div>
                                        <div class="text-center"
                                            *ngIf="(InvoiceSummaryList | searchFilter1: publicVariable.searchText).length === 0 && InvoiceSummaryList.length > 0">
                                            <span class="text-danger">No results found.</span>
                                        </div>
                                    </div>


                                    <div class="clearfix" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                                        <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of
                                            <b>{{
                                                publicVariable.count }}</b>
                                            entries
                                        </div>
                                        <pagination-controls previousLabel="Prev" class="pagination" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>


                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
            <!--tab-pane-->

        </div>

    </div>
    <!--main-data-navs-->


</div>
