<div class="dashboard-page">

  <header class="dashboard-header">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 col-sm-6 col-5">
          <div class="mainlogo-menu">
            <div class="header-logo"><a routerLink=""><img src="../assets/images/logo.png" alt=""> </a></div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-7">

          <div class="top-noti-user">

            <div class="top-user-profile">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                  src="../assets/images/profile.jpg" alt="">
                <p>Hemant <small>Admin</small></p>
              </a>

              <ul class="dropdown-menu">
                <li><a href="#">Logout</a></li>
              </ul>

            </div>

          </div>
        </div>

      </div>

    </div>
  </header>

  <div class="inner-dashboard-page">
    <div class="container">
      <div class="title-col text-center">
        <h3 class="title">Sales Invoice Dashboard</h3>
      </div>

      <div class="landing-cols">
        <div class="row">

          <div class="col-md-4">
            <div class="landing-col1">
              <div class="landing-col-head green-bar">Masters <span><img src="../assets/images/master-icon.png"
                    alt=""></span></div>
              <ul>
                <li><a routerLink="masters/configuration-list">Configuration List</a></li>
                <li><a routerLink="masters/users">User Master</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4">
            <div class="landing-col1">
              <div class="landing-col-head yellow-bar">Customer
                <span><img src="../assets/images/customer-icon.png" alt=""></span>
              </div>
              <ul>
                <li><a routerLink="customer/new">New Customer</a></li>
                <li><a routerLink="customer/status">Customer Status</a></li>
                <li><a href="customer-approval-inbox.html">Approval Inbox</a></li>
                <li><a href="customer-accounts-inbox.html">Accounts Inbox</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4">
            <div class="landing-col1">
              <div class="landing-col-head orange-bar">Purchase Invoice <span><img
                    src="../assets/images/invoice-icon.png" alt=""></span></div>
              <ul>
                <li><a href="pi-newpurchase-invoice.html">New Purchase Invoice</a></li>
                <li><a href="pi-invoice-status.html">Invoice Status</a></li>
                <li><a href="pi-approval-inbox.html">Approval Inbox</a></li>
                <li><a href="pi-accounts-inbox.html">Accounts Inbox</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

  <footer class="dashboard-footer">© FICCI, 2024 | ISO 9001:2015 Certified</footer>

</div>