<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">
    <h3 class="content-title">PI New Purchase Invoice</h3>

    <form [formGroup]="publicVariable.dataForm">
        <input type="hidden" formControlName="headerid">
        <div class="pipage-radio">
            <div class="form-check">
                <input class="form-check-input" formControlName="ImpiHeaderInvoiceType" type="radio"
                    name="ImpiHeaderInvoiceType" id="flexRadioDefault1" value="Proforma Invoice" />
                <label class="form-check-label" for="flexRadioDefault1">
                    Proforma Invoice
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" formControlName="ImpiHeaderInvoiceType" type="radio"
                    name="ImpiHeaderInvoiceType" id="flexRadioDefault2" value="Tax Invoice" />
                <label class="form-check-label" for="flexRadioDefault2">
                    Tax Invoice
                </label>
            </div>
        </div>

        <div class="mastersform-sec mb-0">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="projectCode">Project Code</label>
                        <ng-select [items]="publicVariable.projectList" #select bindLabel="code" bindValue="code"
                            placeholder="Select in Project Code" formControlName="ImpiHeaderProjectCode"
                            (change)="onSelectProject()" [searchable]="true" [searchFn]="customSearchFn">

                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.code}} - {{item.name}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('ImpiHeaderProjectCode','required')" class="text-danger">This field
                            is required
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input type="text" id="department" placeholder="Department"
                            formControlName="ImpiHeaderDepartment" class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderDepartment','required')" class="text-danger">This field
                            is required
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="division">Division</label>
                        <input type="text" id="division" placeholder="Division" formControlName="ImpiHeaderDivison"
                            class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderDivison','required')" class="text-danger">This field is
                            required
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="PANNo">PAN No</label>
                        <input type="text" id="PANNo" class="form-control" placeholder="PAN No"
                            formControlName="ImpiHeaderPanNo" />
                        <div *ngIf="shouldShowError('ImpiHeaderPanNo','invalidPAN')" class="text-danger">Please enter a
                            valid PAN Number.
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>GST No</label>
                        <input type="text" placeholder="GST No" class="form-control"
                            formControlName="ImpiHeaderGstNo" />

                        <div *ngIf="shouldShowError('ImpiHeaderGstNo','invalidGST')" class="text-danger"> Please enter
                            a valid GST Registration Number. (05AAACF1282E1Z5)</div>

                    </div>
                </div>

                <!-- show tax-invoice-only -->
                <div class="col-md-4 col-sm-6"
                    *ngIf="publicVariable.dataForm.get('ImpiHeaderInvoiceType')?.value === 'Tax Invoice'">
                    <div class="form-group">
                        <label>PI No</label>
                        <input type="text" placeholder="PI No" class="form-control" formControlName="PINO" />
                    </div>
                </div>


            </div>
        </div>
        <div class="pi-pagetitle">Customer Details</div>

        <div class="mastersform-sec mb-0">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="CustomerName">Customer Name</label>
                        <div class="flex-field">
                            <ng-select [items]="publicVariable.customerStatusList" #select class="w-100"
                                bindLabel="customerName" bindValue="customerName" placeholder="Select customer "
                                formControlName="ImpiHeaderCustomerName" (change)="onSelectCustomer()"
                                [searchable]="true" [searchFn]="customerSearchFn">
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div><span>Name : </span><span>{{item.customerName | titlecase}}</span></div>
                                    <small><b>Pan :</b> {{item.pan}} - <b>GST :</b> {{item.gstNumber}}</small>
                                </ng-template>
                            </ng-select>
                            <div class="add-btn"><a routerLink="/customer/new">+</a></div>
                        </div>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerName','required')" class="text-danger">This field
                            is required
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" placeholder="Address"
                            formControlName="ImpiHeaderCustomerAddress" class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerAddress','required')" class="text-danger">This
                            field is required</div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <ng-select [items]="publicVariable.stateList" #select bindLabel="stateName"
                            bindValue="stateCode" placeholder="Select " formControlName="ImpiHeaderCustomerState" [searchable]="true"
                            [searchFn]="stateSearchFn">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.stateCode}} - {{item.stateName}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerState','required')" class="text-danger">This  field is required</div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>

                            <ng-select [items]="publicVariable.cityList" #select bindLabel="cityName" bindValue="cityCode"
                            placeholder="Select" formControlName="ImpiHeaderCustomerCity" [searchable]="true"
                            [searchFn]="citySearchFn">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <small>{{item.cityCode}} - {{item.cityName}}</small>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerCity','required')" class="text-danger">This field
                            is required
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="pincode">Pincode</label>
                        <input type="text" formControlName="ImpiHeaderCustomerPinCode" placeholder="Pincode"
                            (input)="onInputChange($event)" class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerPinCode','required')" class="text-danger"> Pin
                            Code is
                            required.
                        </div>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerPinCode','pattern')" class="text-danger"> Please
                            enter a
                            valid
                            6-digit Pin Code.</div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="GSTNumber">GST Number</label>
                        <input type="text" class="form-control" id="GSTNumber" placeholder="GST Number"
                            formControlName="ImpiHeaderCustomerGstNo" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerGstNo','invalidGST')" class="text-danger"> Please
                            enter a valid GST Registration Number. (05AAACF1282E1Z5)</div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="ContactPerson">Contact Person</label>
                        <input type="text" placeholder="Contact Person" id="ContactPerson"
                            formControlName="ImpiHeaderCustomerContactPerson" class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerContactPerson', 'alphanumericWithSpaces')"
                            class="text-danger">
                            Please enter a valid alphanumeric value.
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="EmailID">Email ID</label>
                        <input type="text" placeholder="Email ID" id="EmailID"
                            formControlName="ImpiHeaderCustomerEmailId" class="form-control" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerEmailId','required')" class="text-danger">Email
                            is required.
                        </div>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerEmailId','email')" class="text-danger"> Please
                            enter a valid email address.</div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="PhoneNo">Phone No.</label>
                        <input type="text" class="form-control" id="PhoneNo" (input)="onInputChange($event)"
                            placeholder="Phone No" formControlName="ImpiHeaderCustomerPhoneNo" />
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerPhoneNo','required')" class="text-danger">Phone
                            number is required.</div>
                        <div *ngIf="shouldShowError('ImpiHeaderCustomerPhoneNo','pattern')" class="text-danger">Invalid
                            phone number.</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dasboard-table pi-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="38%">Particulars</th>
                            <th>Unit</th>
                            <th>Discount</th>
                            <th>Rate/Unit(INR)</th>
                            <th>Amount(INR)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items">
                        <tr *ngFor="let item of itemsFormArray.controls; let i = index" [formGroupName]="i">
                            <td>
                                <input class="form-control" formControlName="impiLineDescription"
                                    placeholder="Particulars" type="text" required />

                            </td>
                            <td><input class="form-control" (input)="onInputChange($event)"
                                    formControlName="impiLineQuantity" type="text" placeholder="Unit" required /></td>
                            <td><input class="form-control" (input)="onDiscountInput($event)"
                                    formControlName="impiLineDiscount" type="text" placeholder="Discount" required />
                            </td>
                            <td><input class="form-control" (input)="priceValidator($event)"
                                    formControlName="impiLineUnitPrice" type="text" placeholder="Rate/Unit(INR)"
                                    required /></td>
                            <td><input class="form-control" type="text" placeholder="Amount(INR)"
                                    [value]="item.value !== 0 ? calculateAmount(item.value) : ''" readonly /></td>
                            <td>
                                <span class="table-btns">
                                    <a (click)="addItem()"><img src="../assets/images/plus-icon.svg" alt="" /></a>
                                    <a *ngIf="i > 0" (click)="removeItem(i)"><img src="../assets/images/delete-icon.svg"
                                            alt="" /></a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">Total</td>
                            <td colspan="2" class="text-end"><b>{{ calculateTotalAmount() | currency: 'INR' }}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-start">Total Amount Receivable In Word: {{
                                calculateTotalAmount() | numberToWords1 }}</td>
                            <td colspan="2" class="text-end"><b>{{ calculateTotalAmount() | currency: 'INR' }}</b></td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
        <div class="col-md-9 col-xs-12 col-sm-12 attach-col">
            <div class="row align-items-center">
                <div class="col-sm-2"><b>Attachment</b></div>
                <div class="col-sm-3 text-sm-end">Upload Document</div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile02" accept=".pdf,.xlsx,.csv"
                            (change)="onFileSelected($event)" />
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="mastersform-sec mb-3">
            <div class="col-md-9 mt-4">
                <div class="form-group">
                    <label for="PaymentTerms">Payment Terms</label>
                    <textarea class="form-control h-100" cols="2" rows="3" id="PaymentTerms"
                        formControlName="ImpiHeaderPaymentTerms"></textarea>
                </div>
            </div>

            <div class="col-md-9 mt-3">
                <div class="form-group">
                    <label for="Remarks">Remarks</label>
                    <textarea class="form-control h-100" cols="2" rows="3" id="Remarks"
                        formControlName="ImpiHeaderRemarks"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group mb-0 mt-4">
                    <input type="checkbox" class="btn-check" formControlName="IsDraft" id="btn-check"
                        autocomplete="off">
                    <label class="btn btn-secondary w-auto mb-0 me-2" for="btn-check" (click)="onSubmit(true)">Save as
                        Draft</label>
                    <button type="submit" class="common-btn w-auto" (click)="onSubmit(false)">Submit</button>
                </div>
            </div>
        </div>
    </form>

</div>
