<div class="inner-content">
  <h3 class="content-title">PI New Purchase Invoice</h3>

  <form [formGroup]="publicVariable.dataForm" (ngSubmit)="onSubmit()">
    <div class="pipage-radio">
      <div class="form-check">
        <input class="form-check-input" formControlName="invoiceType" type="radio" name="invoiceType"
          id="flexRadioDefault1" value="Proforma Invoice" />
        <label class="form-check-label" for="flexRadioDefault1">
          Proforma Invoice
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" formControlName="invoiceType" type="radio" name="invoiceType"
          id="flexRadioDefault2" value="Tax Invoice" />
        <label class="form-check-label" for="flexRadioDefault2">
          Tax Invoice
        </label>
      </div>
    </div>
    <div class="mastersform-sec mb-0">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="projectCode">Project Code</label>
            <input type="text" id="projectCode" placeholder="Project Code" class="form-control"
              formControlName="projectCode" />
            <div *ngIf="shouldShowError('projectCode','required')" class="text-danger">This field is required</div>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" id="department" placeholder="Department" formControlName="department"
              class="form-control" />
            <div *ngIf="shouldShowError('department','required')" class="text-danger">This field is required</div>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="division">Division</label>
            <input type="text" id="division" placeholder="Division" formControlName="division" class="form-control" />
            <div *ngIf="shouldShowError('division','required')" class="text-danger">This field is required</div>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="PANNo">PAN No</label>
            <input type="text" id="PANNo" class="form-control" placeholder="PAN No" formControlName="PANNo" />
            <div *ngIf="shouldShowError('PANNo','invalidPAN')" class="text-danger">Please enter a valid PAN Number.
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label>GST No</label>
            <input type="text" placeholder="GST No" class="form-control" formControlName="GSTNo" />

            <div *ngIf="shouldShowError('GSTNo','invalidGST')" class="text-danger"> Please enter
              a valid GST Registration Number. (05AAACF1282E1Z5)</div>

          </div>
        </div>

        <!-- show tax-invoice-only -->
        <div class="col-md-4 col-sm-6" *ngIf="publicVariable.dataForm.get('invoiceType')?.value === 'Tax Invoice'">
          <div class="form-group">
            <label>PI No</label>
            <input type="text" placeholder="PI No" class="form-control" formControlName="PINO" />
          </div>
        </div>


      </div>
    </div>
    <div class="pi-pagetitle">Customer Details</div>

    <div class="mastersform-sec mb-0">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="CustomerName">Customer Name</label>
            <div class="flex-field">
              <input type="text" id="CustomerName" formControlName="CustomerName" placeholder="Customer Name"
                class="form-control" />
              <div class="add-btn"><a routerLink="/customer/new">+</a></div>
            </div>
            <div *ngIf="shouldShowError('CustomerName','required')" class="text-danger">This field is required</div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Address" formControlName="address" class="form-control" />
            <div *ngIf="shouldShowError('address','required')" class="text-danger">This field is required</div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-select" formControlName="state">
              <option value="">Select State</option>
              <option value="haryana">Haryana</option>
            </select>
            <div *ngIf="shouldShowError('state','required')" class="text-danger">This field is required</div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="city">City</label>
            <select class="form-select" formControlName="city">
              <option value="">Select City</option>
              <option value="gurugram">gurugram</option>
            </select>
            <div *ngIf="shouldShowError('city','required')" class="text-danger">This field is required</div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="text" formControlName="pincode" placeholder="Pincode" class="form-control" />
            <div *ngIf="shouldShowError('pincode','required')" class="text-danger">This field is required</div>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="GSTNumber">GST Number</label>
            <input type="text" class="form-control" id="GSTNumber" placeholder="GST Number"
              formControlName="GSTNumber" />
            <div *ngIf="shouldShowError('GSTNumber','invalidGST')" class="text-danger"> Please enter
              a valid GST Registration Number. (05AAACF1282E1Z5)</div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="ContactPerson">Contact Person</label>
            <input type="text" placeholder="Contact Person" id="ContactPerson" formControlName="ContactPerson"
              class="form-control" />
            <div *ngIf="shouldShowError('ContactPerson','required')" class="text-danger">This field is required</div>

          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="EmailID">Email ID</label>
            <input type="text" placeholder="Email ID" id="EmailID" formControlName="EmailID" class="form-control" />
            <div *ngIf="shouldShowError('EmailID','required')" class="text-danger">Email is required.</div>
            <div *ngIf="shouldShowError('EmailID','email')" class="text-danger"> Please enter a valid email
              address.</div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="PhoneNo">Phone No.</label>
            <input type="text" class="form-control" id="PhoneNo" (input)="onInputChange($event)" placeholder="Phone No"
              formControlName="PhoneNo" />
            <div *ngIf="shouldShowError('PhoneNo','required')" class="text-danger">Phone number is required.</div>
            <div *ngIf="shouldShowError('PhoneNo','pattern')" class="text-danger">Invalid phone number.</div>

          </div>
        </div>
      </div>
    </div>


    <div class="dasboard-table pi-table">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="38%">Particulars</th>
              <th>Unit</th>
              <th>Discount</th>
              <th>Rate/Unit(INR)</th>
              <th>Amount(INR)</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody formArrayName="items">
            <tr *ngFor="let item of itemsFormArray.controls; let i = index" [formGroupName]="i">
              <td><input class="form-control" formControlName="name" placeholder="Particulars" type="text" required />
              </td>
              <td><input class="form-control" (input)="onInputChange($event)" formControlName="unit" type="text"
                  placeholder="Unit" required /></td>
              <td><input class="form-control" (input)="onDiscountInput($event)" formControlName="discount" type="text"
                  placeholder="Discount" required />
              </td>
              <td><input class="form-control" (input)="priceValidator($event)" formControlName="rate" type="text"
                  placeholder="Rate/Unit(INR)" required /></td>
              <td><input class="form-control" formControlName="amount" type="text" placeholder="Amount(INR)"
                  [value]="calculateAmount(item.value)" readonly /></td>
              <td>
                <span class="table-btns">
                  <a (click)="addItem()"><img src="../assets/images/plus-icon.svg" alt="" /></a>
                  <a (click)="removeItem(i)"><img src="../assets/images/delete-icon.svg" alt="" /></a>
                </span>
              </td>
            </tr>
          </tbody>
          <tr>
            <td colspan="4" class="text-end">Total</td>
            <td colspan="2" class="text-end"><b>{{ calculateTotalAmount() | currency: 'INR' }}</b></td>
          </tr>
          <tr>
            <td colspan="4" class="text-start">Total Amount Receivable In Word: {{ calculateTotalAmount() |
              numberToWords }}</td>
            <td colspan="2" class="text-end"><b>{{ calculateTotalAmount() | currency: 'INR' }}</b></td>
          </tr>
        </table>


      </div>
    </div>
    <div class="col-md-9 col-xs-12 col-sm-12 attach-col">
      <div class="row align-items-center">
        <div class="col-sm-2"><b>Attachment</b></div>
        <div class="col-sm-3 text-sm-end">Upload Document</div>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile02" formControlName="file"
              accept=".pdf,.xlsx,.csv" (change)="onFileSelected($event)" />
            <label class="input-group-text" for="inputGroupFile02">Upload</label>

            <div *ngIf="shouldShowError('file','fileType')" class="text-danger">Invalid file type. Please upload a PDF, Excel, or CSV file.</div>
            <div *ngIf="shouldShowError('file','maxSize')" class="text-danger">File size exceeds the limit of 5MB.</div>

          </div>
        </div>
      </div>
    </div>


    <div class="mastersform-sec mb-3">
      <div class="col-md-9 mt-4">
        <div class="form-group">
          <label for="PaymentTerms">Payment Terms</label>
          <textarea class="form-control h-100" cols="2" rows="3" id="PaymentTerms"
            formControlName="PaymentTerms"></textarea>
        </div>
      </div>

      <div class="col-md-9 mt-3">
        <div class="form-group">
          <label for="Remarks">Remarks</label>
          <textarea class="form-control h-100" cols="2" rows="3" id="Remarks" formControlName="Remarks"></textarea>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mb-0 mt-4">
          <button type="submit" class="btn btn-secondary w-auto me-2">
            Save as Draft
          </button>
          <button type="submit" class="common-btn w-auto">Submit</button>
        </div>
      </div>
    </div>
  </form>








</div>
