<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">

    <div class="inner-content" *ngIf="!isApprove">

        <h3 class="content-title">PI Approval Inbox</h3>

        <div class="mastersform-sec mb-0">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Project Code</label>
                        <input type="text" value="{{data.impiHeaderProjectCode}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" value="{{data.impiHeaderProjectDepartmentName}}" class="form-control"
                            disabled="" readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Division</label>
                        <input type="text" value="{{data.impiHeaderProjectDivisionName}}" class="form-control"
                            disabled="" readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>PAN No</label>
                        <input type="text" value="{{data.impiHeaderPanNo}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>GST No</label>
                        <input type="text" value="{{data.impiHeaderGstNo}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <!--show tax-invoice-only
                <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                    <label>GST No</label>
                    <input type="text" value="" class="form-control" required="">
                  </div>
                </div>
                -->

            </div>

        </div>

        <div class="pi-pagetitle">Customer Details</div>

        <div class="mastersform-sec mb-0">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" value="{{data.impiHeaderCustomerName}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" value="{{data.impiHeaderCustomerAddress}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" value="{{getStateNameById(data.impiHeaderCustomerState)}}"
                            class="form-control" disabled="" readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" value="{{data.impiHeaderCustomerCity}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" value="{{data.impiHeaderCustomerPinCode}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>GST Number</label>
                        <input type="text" value="{{data.impiHeaderCustomerGstNo}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Contact Person</label>
                        <input type="text" value="{{data.impiHeaderCustomerContactPerson}}" class="form-control"
                            disabled="" readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Email ID</label>
                        <input type="text" value="{{data.impiHeaderCustomerEmailId}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label>Phone No.</label>
                        <input type="text" value="{{data.impiHeaderCustomerPhoneNo}}" class="form-control" disabled=""
                            readonly="">
                    </div>
                </div>

            </div>

        </div>

        <div class="dasboard-table pi-table">

            <div class="table-responsive">
                <table class="table table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th width="38%">Nature of Expense</th>
                            <th>Quantity</th>
                            <th>Direct Unit Cost</th>
                            <th>Line Amount</th>
                            <th>GST Group Code</th>
                            <th>HSN/SAC Code</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let e of data.lineItem_Requests; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{e.documentType | titlecase }}</td>
                            <td>{{e.impiQuantity}}</td>
                            <td>{{e.impiUnitPrice}}</td>
                            <td>{{e.impiQuantity * e.impiUnitPrice}}</td>
                            <td>{{e.impiGstgroupCode }}</td>
                            <td>{{e.impiHsnsaccode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="dasboard-table pi-table mb-0" *ngIf="uploadedFiles.length > 0">
            <div class="table-responsive">
                <table class="table table-bordered text-nowrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>File Type</th>
                        <th>File Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of uploadedFiles; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ getFileType(file.type) }}</td>
                        <td>{{ file.name }}</td>
                        <td>
                          <a href="javascript:void(0)" (click)="downalodFile(file)"><img src="../assets/images/download-icon.svg" alt="" class="me-2"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="mastersform-sec mb-3">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Payment Terms</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                            readonly="">{{data.impiHeaderPaymentTerms}}</textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                            readonly="">{{data.impiHeaderRemarks}}</textarea> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  *ngIf="data.impiHeaderTlApproverRemarks">
                        <label>Tl Remarks</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                            readonly="">{{data.impiHeaderTlApproverRemarks}}</textarea> </div>
                </div>

                <div class="col-md-6" *ngIf="data.impiHeaderClusterApproverRemarks">
                    <div class="form-group">
                        <label>CH Remarks</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                        readonly="">{{data.impiHeaderClusterApproverRemarks}}</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" *ngIf="data.impiHeaderFinanceRemarks">
                    <div class="form-group">
                        <label>Finance Remarks</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                        readonly="">{{data.impiHeaderFinanceRemarks}}</textarea>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="data.accountApproverRemarks">
                    <div class="form-group">
                        <label>Accounts Remarks</label>
                        <textarea class="form-control h-100" cols="2" rows="2" disabled=""
                        readonly="">{{data.accountApproverRemarks}}</textarea>
                    </div>
                </div>
            </div>

        </div>
        <form [formGroup]="publicVariable.dataForm">
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control h-50" cols="2" rows="2" formControlName="remarks"></textarea>

                </div>
            </div>

            <div class="col-md-12 mt-4">
                <div class="form-group mb-0 mt-2">
                    <button type="submit" class="btn btn-danger w-auto me-2" (click)="onSubmit(false)">Reject</button>
                    <button type="submit" class="common-btn w-auto" (click)="onSubmit(true)">Approve</button>
                </div>
            </div>
        </form>


    </div>
    <ng-container *ngIf="isApprove">
        <div class="pi-pagetitle mt-4">Mailer Information</div>
        <form [formGroup]="publicVariable.mailForm" (ngSubmit)="onSendEmail()">
            <div class="mailer-piaccount">

                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Mail to</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="Mail to"
                            formControlName="emailTo">
                        <div *ngIf="shouldShowError('emailTo','required')" class="text-danger">Mail to is required.</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Subject" class="col-sm-2 col-form-label">Subject</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Subject" formControlName="subject"
                            id="Subject">
                        <div *ngIf="shouldShowError('subject','required')" class="text-danger">Subject is required.</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Body" class="col-sm-2 col-form-label">Body</label>
                    <div class="col-sm-9">

                        <div class="NgxEditor__Wrapper">
                            <angular-editor [config]="editorConfig" id="Body" formControlName="body"></angular-editor>
                            <div *ngIf="shouldShowError('body','required')" class="text-danger">Body is required.</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row attach-col2">
                    <label for="formFile" class="col-sm-2 col-form-label">Attachment</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="file" id="formFile" formControlName="attachment" multiple>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-0 mt-4">
                        <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                        <label class="btn btn-secondary w-auto mb-0 me-2" for="btn-check"
                            (click)="onback()">Back</label>
                        <button type="submit" class="common-btn w-auto">Submit</button>
                    </div>
                </div>

            </div>
        </form>

    </ng-container>



</div>
