<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">

    <h3 class="content-title">Proforma Invoice</h3>

    <div class="page-btns-col">

        <div class="tblsort" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
            <label class="col-form-label">Show</label>
            <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="publicVariable.tableSize"
                (change)="onTableSizeChange($event)">
                <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}
                </option>
            </select>
        </div>

        <div class="dt-buttons" *ngIf="InvoiceSummaryList.length > 0">
            <button class="gray-btns" (click)="onDownloadInvoiceSummary()" type="button"><img
                    src="../assets/images/excel-icon.png" alt=""></button>
        </div>
        <div class="topbr-btns">
            <div class="btn-group" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                <div class="table-search"><input type="text" class="form-control"
                        [(ngModel)]="publicVariable.searchText" name="name" id="name" placeholder="Search here"></div>
            </div>
        </div>
    </div>

    <div class="inner-middle-content">
        <div class="dasboard-table">

            <div class="table-responsive">

                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No</th>
                            <!-- <th>Posting Date</th>
                            <th>Invoice No</th> -->
                            <th>Customer No</th>
                            <th>Customer</th>
                            <th>Project Code</th>
                            <th>Department</th>
                            <th>Division </th>
                            <th>Amount </th>
                            <th>Status </th>
                            <th class="action-cl">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr
                            *ngFor="let d of  this.InvoiceSummaryList | postedFilter: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
                            <td>{{calculateIndex(publicVariable.page, i)}}</td>
                            <td>{{d.no}}</td>
                            <!-- <td>{{d.postingDate}}</td>
                            <td>{{d.invoice_no}}</td> -->
                            <td>{{d.sellToCustomerNo}}</td>
                            <td>{{d.sellToCustomerName}}</td>
                            <td>{{d.projectCode}}</td>
                            <td>{{d.departmentName}}</td>
                            <td>{{d.divisionName}}</td>
                            <td>{{d.amount}}</td>
                            <td>{{d.status}}</td>
                            <td><span class="table-btns">
                                    <a href="javascript:void(0);" (click)="InvoicedView(d)"><img
                                            src="../assets/images/view-icon.svg" alt=""></a>


                                    <a href="javascript:void(0);"
                                    (click)="downalodFile(d.no)"><img
                                        src="../assets/images/download-icon.svg" alt="" /></a>

                                    <!-- <a href="javascript:void(0);" data-bs-toggle="modal"
                                        data-bs-target="#workflow-modal"><img src="../assets/images/download-icone.svg"
                                            alt="" /></a> -->

                                    <!-- <a href="javascript:void(0);" (click)="onSendEmail(d)"><img
                                            src="../assets/images/email-icon.svg" alt="" /></a> -->
                                </span>
                            </td>
                        </tr>



                    </tbody>
                </table>
                <div *ngIf="!InvoiceSummaryList || InvoiceSummaryList.length === 0">
                    <div class="text-center my-3">No data found.</div>
                </div>
                <div class="text-center"
                    *ngIf="(InvoiceSummaryList | postedFilter: publicVariable.searchText).length === 0 && InvoiceSummaryList.length > 0">
                    <span class="text-danger">No results found.</span>
                </div>
            </div>


            <div class="clearfix" *ngIf="InvoiceSummaryList && InvoiceSummaryList.length > 0">
                <div class="hint-text">Showing <b>{{this.publicVariable.tableSize}}</b> out of
                    <b>{{
                        InvoiceSummaryList.length }}</b>
                    entries
                </div>
                <pagination-controls previousLabel="Prev" class="pagination" nextLabel="Next"
                    (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>


        </div>
    </div>

</div>

<!-----Modal----->

<div class="modal fade common-modal" id="workflow-modal" tabindex="-1" role="dialog"
    aria-labelledby="testimonialmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title text-center w-100 small-title">payment information</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">

                <div class="dashboard-data">

                    <div class="dasboard-table mb-0">

                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Payment No</th>
                                        <th>Payment Date</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Bank Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!-- <tr *ngFor="let i of this.data.workFlowHistory;let in = index">
                                        <td>{{in + 1}}</td>
                                        <td>{{i.imwdPendingAt | titlecase}}</td>
                                        <td>{{i.imwdPendingEmailAt | titlecase}}</td>
                                        <td>{{i.imwdInitiatedBy | titlecase}}</td>
                                        <td>{{i.imwdRemarks | titlecase}}</td>
                                        <td>{{i.imwdCreatedOn | date:'medium':'IST'}}</td>
                                    </tr> -->
                                </tbody>
                            </table>

                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
