
<!-- <header class="login-page">
    <div class="container">
        <div class="header-logo"><a href="#"><img src="../assets/images/logo.png" alt=""> </a></div>
    </div>
</header>

<div class="login-wrapper main-content">

    <div class="container">

        <div class="innerlogin-sec">

            <div class="login-vector"><img src="../assets/images/login-vector.jpg" alt=""></div>

            <div class="home-search">
                <h1>Please Wait ...</h1>



            </div>

        </div>


        <p class="login-copyright">Federation of Indian Chambers of Commerce & Industry © 2024 | All rights reserved.
        </p>

    </div>

</div> -->



<!-- <div class="loadingpage-sec">
	<div class="main-logo"><a routerLink="/"><img src="../assets/images/logo.png" alt=""></a></div>

	<div class="loading-text text-center">
	  <h1>Welcome to <br> Invoice Management System</h1>
		<div class="loading-icon">
			<span class="spinner-border spinner-border-md" role="status" aria-hidden="true"></span> Please wait...
		
        
        </div>

        <div class="login-vector mt-4 mb-3"><img src="../assets/images/login-vector.jpg" alt=""></div>
	</div>

</div> -->

<header class="login-page">
    <div class="container-fluid">
      <div class="header-logo"><a href="#"><img src="../assets/images/logo.png" alt=""> </a></div> 
    </div>
  </header>

<div class="custom-loginpg">
    <div class="incustom-loginpg">	
        <div class="custom-logtxt">Welcome to Invoice Management System</div>
        <div class="logincust-vector"><img src="../assets/images/login-vector.jpg" alt=""></div> 	
        <div  *ngIf ="ISValid"
        
        class="common-box text-center"><a href="/dashboard" class="common-btn">Please Continue to Portal</a></div>
    </div>
    </div>	