*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body{
    width: 100%;
    height: 100%;
  }
  
  body{
    background-color: #fff;
    font-family: Helvetiva, sans-serif;
  }
  
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(240,240,240,0.8);
    position: fixed;
    z-index: 5;
  }
  
  nav h1{
    color: #222;
    font-size: 28px;
    font-weight: 100;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
  }
  
  .tiles{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
  /*   height: auto; */
    margin: 50px auto 0 auto;
  }
  
  .link{
    width: 33.3%;
    height: 50%;
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  .link-title{
    color: whitesmoke;
    text-shadow: 3px 3px 4px #222;
    position: absolute;
    left: 10px;
    bottom: -50px;
    transition: 0.3s;
  }
  .link:hover{
    filter: brightness(75%);
  }
  .link:hover .link-title{
    bottom: 5px;
  }
  
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  /*   height: 100px; */
    background-color: #222;
    padding: 15px 0;
    position: relative;
    z-index: 2;
  }
  footer p{
    color: whitesmoke;
  }
  footer a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
  }
  footer a:hover{
    text-decoration: underline;
  }
  .foot-name{
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 30px;
    font-weight: 100;
    margin: auto;
  }
  .dev{
    height: 20px;
    font-size: 12px;
    padding: 4px;
  }
  
  @media(max-width: 950px){
    .tiles{
      height: 900px;
    }
    .link{
      width: 50%;
      height: 33.3%;
    }
  }
  @media(max-width: 550px){
    .tiles{
      height: 1800px;
      flex-wrap: no-wrap;
      flex-direction: column;
    }
    .link{
      width: 100%;
      height: 16.6%;
    }
  }