/* You can add global styles to this file, and also import other style files */
/* Vipul Css Start  */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('./assets/css/custom.css');
@import url('./assets/css/bootstrap.min.css');

/* Red border for invalid inputs */
input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}

/* Green border for valid inputs */
input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border-color: #28a745 !important;
}
.ngx-pagination .current{
  z-index: 1;
  color: #fff;
  background-color: #FF8201 !important;
  border-color: #fff;
}
.modal-sm {
  --bs-modal-width: 400px !important;
}

.ng-select.ng-select-single .ng-select-container {
    height: 39px;
    border: 1px solid #a5a5a5;
    font-size: 13px;
    color: #000;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{ font-size:13px; }
