<div class="container">
  <form [formGroup]="publicVariable.dataForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Employee ID:</label>
        <input type="hidden" formControlName="id">
        <label for="employeeId">Select Employee:</label>
        <ng-select [items]="publicVariable.employeeList" bindLabel="imeM_EmpId" bindValue="imeM_ID" placeholder="Select an employee"
          formControlName="employeeId" (change)="onSelectEmployee()">
        </ng-select>
        <div *ngIf="shouldShowError('employeeId','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Username:</label>
        <input type="text" class="form-control" formControlName="username">
        <div *ngIf="shouldShowError('username','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Name:</label>
        <input type="text" class="form-control" formControlName="name">
        <div *ngIf="shouldShowError('name','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Email:</label>
        <input type="email" class="form-control" formControlName="email">
        <div *ngIf="shouldShowError('email','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Role:</label>
        <ng-select [items]="publicVariable.roles" formControlName="role" [bindLabel]="'roleName'" [bindValue]="'role_id'" placeholder="Select Role"></ng-select>

        <div *ngIf="shouldShowError('role','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="col-md-1">
        <label>Is Active:</label>
        <input type="checkbox" formControlName="isActive">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">{{ publicVariable.isEdit ? 'Update' : 'Save' }}</button>
      </div>
    </div>
  </form>
  <table class="table table-striped" *ngIf="publicVariable.userData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Active</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ publicVariable.userData.id }}</td>
        <td>{{ publicVariable.userData.employeeId }}</td>
        <td>{{ publicVariable.userData.userName }}</td>
        <td>{{ publicVariable.userData.name }}</td>
        <td>{{ publicVariable.userData.email }}</td>
        <td>{{ publicVariable.userData.role }}</td>
        <td>{{ publicVariable.userData.active }}</td>
        <td> <button class="btn btn-warning" (click)="onEdit(publicVariable.userData)">Edit</button>
          <button class="btn btn-danger ml-2" (click)="onDelete(publicVariable.userData.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
