<app-loading *ngIf="publicVariable.isProcess"></app-loading>

<div class="inner-content">

    <h3 class="content-title">Customer Approval Remarks</h3>

    <div class="mastersform-sec">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" value="{{data.customerName | titlecase}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Name 2</label>
                    <input type="text" value="{{data.customerLastname | titlecase}}" class="form-control" disabled
                        readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" value="{{data.custoemrAddress}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" value="{{data.custoemrAddress}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-select" disabled readonly>
                        <option value="">{{data.cityName | titlecase}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>GST Registration No.</label>
                    <input type="text" value="{{data.customerGstNo}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>GST Customer Type</label>
                    <select class="form-select" disabled readonly>
                        <option value="">{{data.customerTypeName | titlecase}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Post Code</label>
                    <input type="text" value="{{data.customerPinCode}}" class="form-control" disabled readonly>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>E-Mail</label>
                    <input type="text" value="{{data.customerEmailId}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Primary Contact No.</label>
                    <input type="text" value="{{data.customerPhoneNo}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>P.A.N. No.</label>
                    <input type="text" value="{{data.customerPanNo}}" class="form-control" disabled readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>TL Approver</label>
                    <input type="text" value="{{data.customerTlApprover | titlecase}}" class="form-control" disabled
                        readonly>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>CL Approver</label>
                    <input type="text" value="{{data.customerClusterApprover | titlecase}}" class="form-control"
                        disabled readonly>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Approver</label>
                    <input type="text" value="{{data.approverEmail | titlecase}}" class="form-control" disabled
                        readonly>
                </div>
            </div>

            <form [formGroup]="publicVariable.dataForm" >
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control h-100" cols="3" rows="5"  formControlName="remarks" ></textarea>
                        <div *ngIf="shouldShowError('remarks', 'required')" class="text-danger">
                            This field is required
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-0 mt-2">
                        <button type="submit" class="btn btn-danger w-auto me-2" (click)="onSubmit(false)">Reject</button>
                        <button type="submit" class="common-btn w-auto"  (click)="onSubmit(true)">Approve</button>
                    </div>
                </div>
            </form>





        </div>

    </div><!--mastersform-sec-->

</div>
