<div class="common-modal deleteModel">
    <div class="modal-content">
        <div class="centermodal-col">
            <!-- <div class="text-end"><button type="button" (click)="onCancel()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                <!-- <div class="icon-box"><img src="../assets/images/close-icon.svg" alt=""></div> -->
                <h3>{{ message }}</h3>
                <!-- <p></p> -->
                <div class="twocol-btns">
                   
                    <button type="button" (click)="onConfirm()" class="btn btn-danger">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
