<div class="container">
  <button routerLink="add" type="button" class="btn btn-primary">
    Add New
  </button>
  <div *ngIf="data && data.length > 0">
    <label for="itemsPerPageSelect">Items Per Page:</label>
    <select id="itemsPerPageSelect" [(ngModel)]="publicVariable.tableSize" (change)="onTableSizeChange($event)">
      <option *ngFor="let size of publicVariable.tableSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
  <input *ngIf="data && data.length > 0" type="text" [(ngModel)]="publicVariable.searchText" placeholder="Search by name or email">
  <div class="analdrop1" *ngIf="data && data.length > 0">
    <label>Export Data</label>
    <button (click)="onDownload()" class="gray-btns" type="button"><i class="las la-file-export"></i> Download</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Employee ID</th>
        <th>UserName</th>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of data | searchFilter: publicVariable.searchText| paginate: {itemsPerPage: publicVariable.tableSize,currentPage: publicVariable.page,totalItems: publicVariable.count};let i = index">
        <td>{{i + 1}}</td>
        <td>{{ user.employeeId }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.active }}</td>
        <td>
          <button class="btn btn-warning" (click)="onEdit(user)">Edit</button>
        <button class="btn btn-danger ml-2" (click)="onDelete(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" *ngIf="data && data.length > 0">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
